<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>

        .footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: white;
            color: white;
            text-align: center;
            padding: 10px 0;
        }
        .btn-red {
            color: red;
            border-color: red;
            border-radius: 15px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-lg btn-outline-danger btn-red">ПРОМЕНИ ПРЕФЕРЕНЦА</button>
            </div>
        </div>
    </div>
</footer>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
